<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>My App</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="styles/onsen-css-components-blue-basic-theme.css">  
  <link rel="stylesheet" href="styles/app.css"/>
  <link rel="stylesheet" href="lib/smoothTouchScroll-master/css/smoothTouchScroll.css"/>
  <link rel="stylesheet" href="lib/font-awesome-4.3.0/css/font-awesome.css"/>


  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="lib/smoothTouchScroll-master/js/jquery.kinetic.min.js"></script>
  <script src="lib/smoothTouchScroll-master/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="lib/smoothTouchScroll-master/js/jquery.smoothTouchScroll.min.js"></script>
  <script src="js/app.js"></script>

  <script src="cordova.js"></script>

  <script>
    var module = angular.module('app', ['onsen']);
  </script>

  <style>
  </style>
  
</head>

<body>    
  
  <ons-sliding-menu
    menu-page="menu.html" main-page="accueil.html" side="left"
    var="menu" type="reveal" max-slide-distance="260px" swipeable="false">
  </ons-sliding-menu>

  <ons-template id="menu.html">
    <ons-page modifier="menu-page">
      <img src="img/textures/logo.png" style="width: 50px;margin-left: 95px;margin-top: 20px;margin-bottom: 20px;">
      <ons-list class="bottom-menu-list">
        <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('accueil.html', {closeMenu: true})">
          <i class="fa fa-home"></i>
          <span>Accueil</span>
        </ons-list-item>
        <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('planning.html', {closeMenu: true})">
          <i class="fa fa-home"></i>
          <span>Planning</span>
        </ons-list-item>
        <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('live.html', {closeMenu: true})">
          <i class="fa fa-home"></i>
          <span>Live</span>
        </ons-list-item>
        <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('equipe.html', {closeMenu: true})">
          <i class="fa fa-home"></i>
          <span>Equipe</span>
        </ons-list-item>
        <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('partenaires.html', {closeMenu: true})">
          <i class="fa fa-home"></i>
          <span>Partenaires</span>
        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-template>

  <ons-template id="accueil.html">
    <ons-page id="accueil">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon style="color: #FFF" icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
      </ons-toolbar-button>

      <ons-row style="text-align: center;">
        <ons-col>
          <img src="img/textures/logo.png"/>
          <div id="accueil_infosLive" class="conteneur_accueil">
            <div class="title_conteneur">En ce moment</div>
            <img style="width: 50px; position: absolute; left: 10px;top: 60px;" src="img/textures/twitchAccueil.png">
            <span class="accueil_live_items" id="accueil_statut_live">En ligne</span>
            <span class="accueil_live_items" id="accueil_jeux_live">The Witcher 3</span>
            <span class="accueil_live_items" id="accueil_viewers_live">2 923 viewers</span>
          </div>
          <div class="conteneur_accueil">
            <div class="title_conteneur">Planning Live du jour</div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>00:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>01:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>02:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>03:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>04:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>05:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>06:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>07:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>08:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>09:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>10:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>11:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>12:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>13:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>14:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>15:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>16:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>17:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>18:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>19:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>20:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>21:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>22:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>23:00</p>
              </div>
            </div>
            <div class="item_planning_live_conteneur">
              <span class="item_planning_live item_planning_live_date">12:00 - 15:00</span>
              <span class="item_planning_live item_planning_live_titre">Midi To Click</span>
              <span class="item_planning_live item_planning_live_desc">Faire de la merde et le faire bien dans que c'est de la merde</span>
            </div>
          </div>
        </ons-col>
      </ons-row>
    </ons-page>
  </ons-template>

  <ons-template id="partenaires.html">
    <ons-page id="partenaires">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon style="color: #FFF" icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
      </ons-toolbar-button>

      <ons-row style="text-align: center;">
        <ons-col>
          <img style="width: 40%;" src="img/textures/spaceOrigin.jpg">
          <img style="width: 40%;" src="img/textures/cybertek.jpg">
          <img style="width: 40%;" src="img/textures/gaming-live.jpg">
          <img style="width: 40%;" src="img/textures/jeuxvideo.com.jpg">
          <img style="width: 40%;" src="img/textures/octopus.jpg">
          <img style="width: 40%;" src="img/textures/omgserv.jpg">
        </ons-col>
      </ons-row>
    </ons-page>
  </ons-template>

  <ons-template id="planning.html">
    <ons-page id="planning">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon style="color: #FFF" icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
      </ons-toolbar-button>

      <ons-row style="text-align: center;">
        <ons-col>
          <div class="conteneur_accueil">
            <div class="title_conteneur">Planning Live</div>
            <div id="planning_selecteur_jour">
              <ons-carousel item-width="112px" swipeable="true" style="width: 100%; height: 50px">
                <ons-carousel-item>
                  <div class="planning_item_day_selected planning_item_day">Lundi</div>
                </ons-carousel-item>
                <ons-carousel-item>
                  <div class="planning_item_day">Mardi</div>
                </ons-carousel-item>
                <ons-carousel-item>
                  <div class="planning_item_day">Mercredi</div>
                </ons-carousel-item>
                <ons-carousel-item>
                  <div class="planning_item_day">Jeudi</div>
                </ons-carousel-item>
                <ons-carousel-item>
                  <div class="planning_item_day">Vendredi</div>
                </ons-carousel-item>
                <ons-carousel-item>
                  <div class="planning_item_day">Samedi</div>
                </ons-carousel-item>
                <ons-carousel-item>
                  <div class="planning_item_day">Dimanche</div>
                </ons-carousel-item>
              </ons-carousel>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>00:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>01:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>02:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>03:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>04:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>05:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>06:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>07:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>08:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>09:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>10:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>11:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>12:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>13:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>14:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>15:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>16:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>17:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>18:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>19:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>20:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>21:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>22:00</p>
              </div>
            </div>
            <div class="item_planning">
              <div class="item_planning_date">
                <p>23:00</p>
              </div>
            </div>
            <div class="item_planning_live_conteneur">
              <span class="item_planning_live item_planning_live_date">12:00 - 15:00</span>
              <span class="item_planning_live item_planning_live_titre">Midi To Click</span>
              <span class="item_planning_live item_planning_live_desc">Faire de la merde et le faire bien dans que c'est de la merde</span>
            </div>
          </div>
        </ons-col>
      </ons-row>
    </ons-page>
  </ons-template>

  <ons-template id="equipe.html">
    <ons-page id="equipe">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon style="color: #FFF" icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
      </ons-toolbar-button>

      <ons-row style="text-align: center;">
        <ons-col>
          <img src="img/textures/logo.png">
          <table class="equipe_conteneur">
            <tr>
              <td>
                <div>
                  <img class="equipe_img_click" src="img/textures/alex.jpg">
                  <div>Alex</div>
                </div>
              </td>
              <td>
                <div>
                  <img class="equipe_img_click" src="img/textures/Orau.jpg">
                  <div>Orau</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>
                  <img class="equipe_img_click" src="img/textures/Foxseen.jpg">
                  <div>Foxseen</div>
                </div>
              </td>
              <td>
                <div>
                  <img class="equipe_img_click" src="img/textures/GreenKiwi.jpg">
                  <div>GreenKiwi</div>
                </div>
              </td>
            </tr>
          </table>
        </ons-col>
      </ons-row>
    </ons-page>
  </ons-template>

  <ons-template id="equipePerso.html">
    <ons-page id="equipePerso">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon style="color: #FFF" icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
      </ons-toolbar-button>

      <ons-row style="text-align: center;">
        <ons-col>
          <img style="border-radius: 100px;" src="img/textures/alex.jpg">
          <div id="equipePerso_name">Alex</div>
          <div class="equipePerso_conteneur">
            <div class="equipePerso_title">Infos</div>
            <div class="equipePerso_desc">
              En octobre 2012, je me suis lancé sur YouTube avec une chaîne communautaire appelée « Les Joueurs Du Trône » sur laquelle je partageais ma passion du jeu vidéo avec mon compère Atlanter. L’organisation de la chaîne « Les Joueurs Du Trône » étant compliquée en binôme, nous nous séparâmes (très bons amis), c’est ainsi qu’est née en mars 2013 la chaîne YouTube AlexclickTv.

              </br></br>Repéré par iplay4you et le site Millenium, j'ai rejoint non seulement l’équipe du youtuber iplay4you mais aussi le site Millenium pour écrire, dans un premier temps, des articles pour le portail Minecraft Millenium, puis ensuite développer le concept « Guest ».

              </br></br>Entre août et janvier 2013, j’officie en tant que caster sur la Millenium TV.

              </br></br>Depuis mai 2014, j'ai rejoint Gaming Live.
            </div>
          </div>
          <div class="equipePerso_conteneur">
            <div class="equipePerso_title">FAQ</div>
            <div class="equipePerso_desc">
              <div class="equipePerso_desc_title_ask">
                AVEC QUEL MATÉRIEL TOURNES-TU ET RÉALISES-TU TES LIVE ?
              </div>
              <div class="equipePerso_desc_rep_ask">
                Processeur : Intel Core I7-4770 avec un radiateur Be Quiet Dark Rock Pro 3
                </br>RAM : 16Go
                </br>Carte Graphique : MSI GeForce GTX 970 4Go
                </br>Ecrans : LG 22 pouces x2 + Asus 24 pouces
                </br>Clavier : Corsair Vengeance K70
                </br>Souris : Corsair Vengeance M95
                </br>WebCam : Logitehc C920
                </br>Carte d'acquisition vidéo : Aver Media Game HD
                </br>Casque : Seinnheiser Game One
              </div>
            </div>
          </div>
        </ons-col>
      </ons-row>
    </ons-page>
  </ons-template>


  <ons-template id="live.html">
    <ons-page id="live">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon style="color: #FFF" icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
      </ons-toolbar-button>
      <ons-row style="text-align: center;">
        <ons-col>
          <iframe id="iframeLive" src="http://www.twitch.tv/gl_alexclick/embed" frameborder="0" scrolling="no" height="378" width="100%"></iframe>
        </ons-col>
      </ons-row>
    </ons-page>
  </ons-template>
 
</body>
</html>
