.left {
	text-align: left;
}
.page--menu-page__background {
	background-color: #333;
}

.page--menu-page__content {
	color: white;
}

.menu-close,
.menu-close > .toolbar-button {
	color: #999;
}

.menu-list,
.menu-item:first-child,
.menu-item:last-child,
.menu-item {
	background-color: transparent;
	background-image: none !important;
	border-color: transparent;
	color: #fff;
}

.menu-item {
	padding: 0 0 0 20px;
	line-height: 52px;
	height: 52px;
	text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.menu-item:active {
	background-color: rgba(255, 255, 255, 0.1);
}

.menu-notification {
	display: inline-block;
	margin-top: 12px;
	font-size: 14px;
	height: 16px;
	line-height: 16px;
	min-width: 16px;
	font-weight: 600;
}

.bottom-menu-list,
.bottom-menu-item:first-child,
.bottom-menu-item:last-child,
.bottom-menu-item {
	border-color: #393939;
	background-color: transparent;
	background-image: none !important;
	color: #ccc;
}

.bottom-menu-item:active {
	background-color: rgba(255, 255, 255, 0.1);
}
.page__background {
	margin:0;
	padding:0;
	background: url('../img/textures/background.png') no-repeat center fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}
.page--menu-page__background{
	background-color: #323F55 !important;
	background: transparent !important;
}
.conteneur_accueil{
	background-color: rgba(89,113,152,0.5);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid rgba(255,255,255,0.7);
	position: relative;
	margin-bottom: 10px;
}
#accueil_infosLive{
	height: 150px;
}
.title_conteneur{
	color: white;
	border-bottom: 1px solid white;
	padding-top: 3px;
	padding-bottom: 5px;
}
#accueil_statut_live{
	top: 45px;
	color: greenyellow;
}
#accueil_jeux_live{
	top: 70px;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: underline;
}
#accueil_viewers_live{
	top: 106px;
}
.accueil_live_items{
	color: white;
	position: absolute;
	left: 80px;
}
.item_planning{
	border-bottom: 1px solid white;
	height: 50px;
}
.item_planning_date{
	background-color: #6984B2;
	width: 20%;
	height: 50px;
	position: absolute;
	border-right: 1px solid white;
}
.item_planning_date p{
	color: white;
	font-weight: bold;
	margin-top: 14px;
}
.item_planning_live{
	position: absolute;
	left: 0;
	color: white;
	width: 100%;
}
.item_planning_live_conteneur{
	position: absolute;
	top: 641px;
	left: 21%;
	width: 77%;
	height: 150px;
	background-color: #6984B2;
	border: 1px solid white;
}
.item_planning_live_date{
	border-bottom: 1px solid white;
	font-weight: bold;
	padding-bottom: 1px;
	font-size: 0.8em;
}
.item_planning_live_titre{
	top: 21px;
	font-weight: bold;
}
.item_planning_live_desc{
	top: 47px;
}
#planning_selecteur_jour{
	border-bottom: 3px solid white;
}
#TouchScroller div.scrollableArea *
{
	position: relative;
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}
.scrollableArea{
	width: 100% !important;
}
.planning_item_day{
	border: 1px solid white;
	color: white;
	width: 100%;
	padding-top: 14px;
	background-color: #6984B2;
	padding-bottom: 14px;
}
.planning_item_day_selected{
	background-color: #C60002;
}
.equipe_conteneur{
	width: 100%;
}
.equipe_conteneur td{
}
.equipe_conteneur img{
	width: 150px;
}
.equipe_conteneur div div{
	color: white;
	background-color: #39506F;
	margin-top: -4px;
	border-top: 2px solid white;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}
.equipe_conteneur div{
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}
#equipePerso_name{
	color: white;
	font-weight: bold;
	border-bottom: 2px solid white;
}
.equipePerso_conteneur{
	color: white;
	background-color: rgba(89,113,152,0.6);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.equipePerso_title{
	color: white;
	border-bottom: 1px solid white;
}
.equipePerso_desc{
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.equipePerso_desc_title_ask{
	font-weight: bold;
}